In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats
from scipy.stats import pearsonr

In [2]:
df = pd.read_csv(
    "ultra-marathon-dataset/TWO_CENTURIES_OF_UM_RACES.csv",
    dtype={"Athlete age category": str},
    low_memory=False  # Prevents chunk-based reading issues
)
df.head(5)

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
0,2018,06.01.2018,Selva Costera (CHI),50km,22,4:51:39 h,Tnfrc,CHI,1978.0,M,M35,10.286,0
1,2018,06.01.2018,Selva Costera (CHI),50km,22,5:15:45 h,Roberto Echeverría,CHI,1981.0,M,M35,9.501,1
2,2018,06.01.2018,Selva Costera (CHI),50km,22,5:16:44 h,Puro Trail Osorno,CHI,1987.0,M,M23,9.472,2
3,2018,06.01.2018,Selva Costera (CHI),50km,22,5:34:13 h,Columbia,ARG,1976.0,M,M40,8.976,3
4,2018,06.01.2018,Selva Costera (CHI),50km,22,5:54:14 h,Baguales Trail,CHI,1992.0,M,M23,8.469,4

In [3]:
print(f"Cantidad de registros: {len(df)}")

Cantidad de registros: 7461195

In [4]:

# Filter events containing "(ESP)" in the "Event name" column
df_esp = df[df["Event name"].str.contains(r"\(ESP\)", na=False, regex=True)]

print(f"Cantidad de registros: {len(df_esp)}")

Cantidad de registros: 233725

In [10]:
# Filter events with Event name containing "transvulcania", taking care of case sensitivity 
transvulcania = df_esp[df_esp["Event name"].str.contains("Transvulcania", na=False, case=False)]

print(f"Cantidad de registros para Transvulcania: {len(transvulcania)}")

Cantidad de registros para Transvulcania: 10493

In [12]:
transvulcania.head()

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
303564,2018,12.05.2018,Transvulcania 2018 (ESP),73km,1368,7:37:26 h,Chemotuga,ESP,1983.0,M,M23,9.575,129630
303565,2018,12.05.2018,Transvulcania 2018 (ESP),73km,1368,7:38:22 h,Adidas Terrex,RUS,1991.0,M,M23,9.556,60760
303566,2018,12.05.2018,Transvulcania 2018 (ESP),73km,1368,7:42:49 h,Hoka ONE ONE - Terre d...,FRA,1990.0,M,M23,9.464,2598
303567,2018,12.05.2018,Transvulcania 2018 (ESP),73km,1368,7:44:26 h,Team Hoka ONE ONE,ITA,1977.0,M,M40,9.431,178385
303568,2018,12.05.2018,Transvulcania 2018 (ESP),73km,1368,7:46:53 h,Asics,FRA,1988.0,M,M23,9.381,129631

In [6]:
## Filter events with distance in km
# km_events = df_esp[df_esp["Event distance/length"].str.match(r"^\d+km$", na=False)]

# print(f"Cantidad de registros con distancia en km: {len(km_events)}")

In [7]:
# Extraer solo los números de la distancia y convertirlos a enteros

# Crear una copia del DataFrame para evitar el SettingWithCopyWarning
# km_events_copy = km_events.copy()

# Extraer los números de la columna "Event distance/length" y convertirlos a float
# km_events_copy.loc[:, "Distance (km)"] = km_events["Event distance/length"].str.extract(r"(\d+)").astype(float)

# km_events_copy.head()

In [8]:
# most_common_distance = km_events_copy["Distance (km)"].mode()[0]
# print(f"La distancia más repetida es: {most_common_distance} km")